<nav id="site-navigation" class="main-navigation">
    <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">Primary Menu</button>
    <div class="menu-header-container">
        <ul id="primary-menu" class="menu">
            <li id="menu-item-1" class="menu-item current-menu-item"><a href="/" aria-current="page">Home</a></li>
            <li id="menu-item-2" class="menu-item"><a href="#">Menu Item</a>
            <li id="menu-item-3" class="menu-item"><a href="#">Menu Item</a>
            <li id="menu-item-4" class="menu-item menu-item-has-children"><a href="#">Menu Item With Children</a>
                <ul class="sub-menu">
                    <li id="menu-item-5" class="menu-item"><a href="#">Menu Item</a></li>
                    <li id="menu-item-6" class="menu-item"><a href="#">Menu Item</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
