<main class="container">
    <header>
        <h1>Snoflake Boilerplate</h1>
        <img src='images/snowflake.jpg' alt />
        <small><span>Photo by <a href="https://unsplash.com/@dariuscotoi?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Darius Cotoi</a> on <a href="https://unsplash.com/s/photos/snowflake?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></small>
    </header>
</main>
